@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {

    font-family: "Roboto", sans-serif;
    font-style: normal;
    text-align: left;

}
/*
body { background-image: url("../src_copy/images/mornig.jpg");
}
*/
 img {
    width: 150px;
 }

 video {
    width: 100% ;
 }
